---
    - name: Updating system
      apt:
        update_cache: yes
        
    - name: Install apache
      apt:
        name: apache2
        state: latest
        
    - name: Starting apache/httpd service
      service:
        name: apache2
        state: started
        enabled: yes
