---
  # Java

  package_name: jdk-8u161-linux-x64.tar.gz
  java_download_url: "http://download.oracle.com/otn-pub/java/jdk/8u161-b12/2f38c3b165be4555a1fa6e98c45e0808/{{ package_name }}"
  download_dir: /opt
  java_name: "{{ download_dir }}/jdk1.8.0_161"
  java_archive: "{{ download_dir }}/{{ package_name }}"

  # MySQL

  mysql_download_file: "mysql-community-release-el7-5.noarch.rpm"
  mysql_download_url: "http://repo.mysql.com/{{ mysql_download_file }}"

  # SonarQube

  sonarqube_user: sonar
  sonarqube_group: sonar
  sonarqube_pass: "sonar"
  sonar_download_url: https://sonarsource.bintray.com/Distribution/sonarqube/
  sonar_file_name: 'sonarqube-6.7.1'
  destionation_dir: '/opt/'
  sonarqube_filename: sonarqube
  sonarqube_tar: "{{ destionation_dir }}{{ sonar_file_name }}.zip"
  sonarqube_conf: "{{ destionation_dir }}{{ sonarqube_filename }}/conf/sonar.properties"
  sonar_properties: '/opt/sonarqube/bin/linux-x86-64/sonar.sh'
  sonar_file: 'sonarqube/files/sonar'
  etc_sonar_file: '/etc/init.d/sonar'
  link_path: '/usr/bin/sonar'
  db_properties:
    - { regex: '#sonar.jdbc.username=', replace: 'sonar.jdbc.username={{ sonarqube_user }}' }
    - { regex: '#sonar.jdbc.password=', replace: 'sonar.jdbc.password={{ sonarqube_pass }}' }
    - { regex: '#sonar.jdbc.url=jdbc:mysql:', replace: 'sonar.jdbc.url=jdbc:mysql:' }

  # Dependencies

  dependencies:
    - zip
    - unzip
    - python-pip
    - MySQL-python

