---
  # Java

  package_name: jdk-8u171-linux-x64.tar.gz
  java_download_url: "http://download.oracle.com/otn-pub/java/jdk/8u171-b11/512cd62ec5174c3487ac17c61aaa89e8/{{ package_name }}"
  download_dir: /opt
  java_name: "{{ download_dir }}/jdk1.8.0_171"
  java_archive: "{{ download_dir }}/{{ package_name }}"

  # apache2
  http_port: 80
  https_port: 443
  domain: 'etouches.com'
  full_domain: 'sonarcheck.etouches.com'
  proxy: 'http://localhost:9000/'
  apache_log_dir: '/var/log/apache2/'
  virtualhost_file: 'sonarqube/files/virtualhost.conf'
  dest_virtualhost_file: '/etc/apache2/sites-available/{{ full_domain }}.conf'

  # MySQL

  mysql_download_file: "mysql-community-release-el7-5.noarch.rpm"
  mysql_download_url: "http://repo.mysql.com/{{ mysql_download_file }}"

  # SonarQube

  sonarqube_user: sonar
  sonarqube_group: sonar
  sonarqube_pass: "sonar"
  sonar_download_url: https://sonarsource.bintray.com/Distribution/sonarqube/
  sonar_file_name: 'sonarqube-6.7.4'
  destionation_dir: '/opt/'
  sonarqube_filename: sonarqube
  sonarqube_tar: "{{ destionation_dir }}{{ sonar_file_name }}.zip"
  sonarqube_conf: "{{ destionation_dir }}{{ sonarqube_filename }}/conf/sonar.properties"
  sonar_sh_file: '/opt/sonarqube/bin/linux-x86-64/sonar.sh'
  sonar_file: 'sonarqube/files/sonar'
  etc_sonar_file: '/etc/init.d/sonar'
  link_path: '/usr/bin/sonar'
  db_properties:
    - { regex: '#sonar.jdbc.username=', replace: 'sonar.jdbc.username={{ sonarqube_user }}' }
    - { regex: '#sonar.jdbc.password=', replace: 'sonar.jdbc.password={{ sonarqube_pass }}' }
    #- { regex: '#sonar.jdbc.url=jdbc:mysql:', replace: 'sonar.jdbc.url=jdbc:mysql:' }
    - { regex: '#sonar.jdbc.url=jdbc:postgresql:', replace: 'sonar.jdbc.url=jdbc:postgresql:' }

  # Dependencies

  dependencies:
    - zip
    - unzip
    - python-pip

  pip_packages:
    - psycopg2

  postgresql_packages:
    - postgresql
    - postgresql-contrib
